//- Home our rooms section
section.our-rooms
  h2.text-center Our Rooms
  .container.grid
    a(href=`${url}/rooms?room_type=king-room`).king-room
      .content
        h3 King Room       
        p $500 / per night   
    a(href=`${url}/rooms?room_type=standard-room`).standard-room
      .content
        h3 Standard Room       
        p $100 / per night   
    a(href=`${url}/rooms?room_type=double-room`).double-room
      .content
        h3 Double Room        
        p $100 / per night   
    a(href=`${url}/rooms?room_type=queen-room`).queen-room
      .content
        h3 Queen Room      
        p $100 / per night  
    a(href=`${url}/rooms`).see-more
      .content
        h3 See More
